Write a code in C to add 2 numbers without using any operator.

```c
int a = printf("abc");

// a == 3
```

# Data structures

### This chapter is all about...
![](images/standard_ds.jpg)

### Some string operations first!
format, strip, split, replace, count...

String formatting or String Interpolation

In [38]:
"    jatin    ".strip()

'jatin'

In [39]:
"1, 2, 3, 4, 5".split(",")

['1', ' 2', ' 3', ' 4', ' 5']

In [40]:
"jatin katyal".replace("a", "z")

'jztin kztyzl'

In [41]:
"jatin katyal".count("a")

3

In [17]:
a = 5

print("value of a is %d" % (a))
print("value of a is {}".format(a))

value of a is 5
value of a is 5

In [9]:
a, b, c, d = 1, 2, 3, 4

"a = {2}, b = {1}, c = {0}".format(c, b, a)

'a = 1, b = 2, c = 3'

In [21]:
name = "Jatin Katyal"
company = "Shuttl"

"Hello {name} welcome to my Facebook".format(name = name, company = company)

'Hello Jatin Katyal welcome to my Facebook'

In [29]:
print(f"name = {name}")

name = Jatin Katyal

In [31]:
len(r"a\nb")

4

In [33]:
for c in r"a\nb":
    print(c)

a
\
n
b

## 1. Lists

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.


The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

Other than 3 Data Type all the data types in python are immutable

### Creating lists

In [49]:
a = [1, 2, 3, 4]

In [50]:
print(a)

[1, 2, 3, 4]

In [51]:
b = ["jatin", 1, 1.5, print]

In [52]:
print(b)

['jatin', 1, 1.5, <built-in function print>]

In [53]:
a = [1, 2, 3, 4]

In [57]:
a[0] = 100

In [56]:
print(a)

[100, 2, 3, 4]

### Basic operations
![](images/list_oper.png)

In [59]:
len([1, 2, 3, 4])

4

In [60]:
"jatin" + "katyal"

'jatinkatyal'

In [61]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [62]:
[1] * 4

[1, 1, 1, 1]

In [64]:
a = [1, 2, 3, 4, 5]
for x in a:
    print(x)

1
2
3
4
5

In [66]:
"z" in "jatin"

False

In [67]:
1 in [1, 2, 3, 4]

True

### Indexing and list slicing

![](images/indexing.png)

In [68]:
a = [1, 2, 3, 4, 5]

In [78]:
a[-1]

5

### Updating the list

- insert

- append

In [83]:
a = [1, 2, 3]

In [81]:
a.insert(1, 100)

In [84]:
a = [1, 2, 3, 4]

In [86]:
a.append(5)

In [87]:
a

[1, 2, 3, 4, 5]

### Deleting list elements

- del
- pop
- remove

In [88]:
a = [1, 2, 3, 4]

In [89]:
a.pop()

4

In [92]:
a = [1, 2, 3, 4, 5]

In [93]:
a.pop(2)

3

In [94]:
a

[1, 2, 4, 5]

In [95]:
a = [1, 2, 3, 4]

In [97]:
a = ["jatin", "samarth", "jatin", "shubham"]

In [98]:
a.remove("jatin")

In [100]:
a

['samarth', 'jatin', 'shubham']

In [101]:
a.remove("jatin")

In [102]:
a

['samarth', 'shubham']

### Sorting and reversing

- sort and sorted

- reverse and reversed

In [103]:
a = [4, 1, 3, 2, 6, 4]

In [104]:
a.sort()

In [105]:
a

[1, 2, 3, 4, 4, 6]

In [106]:
b = [4, 1, 3, 2, 6, 4]

In [107]:
sorted(b)

[1, 2, 3, 4, 4, 6]

In [108]:
b

[4, 1, 3, 2, 6, 4]

In [109]:
a = [1, 2, 3, 4, 5]

In [110]:
a.reverse()

In [111]:
a

[5, 4, 3, 2, 1]

In [112]:
b = [1, 2, 3, 4, 5]

In [118]:
for x in reversed(b):
    print(x)

In [115]:
b

[1, 2, 3, 4, 5]

lazy loading vs eager loading

### map, strip and split function (just some utilities when you input a list)

In [119]:
a = [1, 2, 3, 4]

In [120]:
[1, 4, 9, 16]

[1, 4, 9, 16]

In [ ]:
for i, x in enumerate(a):
    pass

In [125]:
def sqr(x):
    return x**2

In [127]:
for x in map(lambda x: x**2, a):
    print(x)

1
4
9
16

```
4
1 2 3 4
```

In [136]:
int('1')

1

In [142]:
a = ['1', '23', '78', '2']

In [144]:
for x in map(lambda x: int(x), a):

1 <class 'int'>
23 <class 'int'>
78 <class 'int'>
2 <class 'int'>

In [137]:
a = list(map(int, input().split()))

1 2 3 4 5

In [139]:
type(a[0])

int

In [138]:
print(a)

[1, 2, 3, 4, 5]

In [135]:
a[0]

'1'

### Printing a list using join

In [141]:
",".join(["jatin", "samarth", "molly"])

'jatin,samarth,molly'

### Challenges
[Lists](https://www.hackerrank.com/challenges/python-lists)

[Find second maximum number in a list](https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/)

### And yeah, you can put a list in a list...
![](images/list_in_list.jpeg)

## 2. Tuples

Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.


Tuples are defined by specifying items separated by commas within an optional pair of parentheses.


Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

### List to tuple and tuple to list...

### Returning multiple values from functions (The returned thing is a tuple!)

### But...but I like Lists...

![](images/immutable.jpg)

- **Storage:** In CPython, tuples are stored in a single block of memory, so creating a new tuple involves at worst a single call to allocate memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data. 

- **Indexing:** Tuples are faster than lists. Tuples directly reference their elements where as lists have an extra layer of indirection to an external array of pointers.

- **Safety:** It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.

**is operator**

### Challenge
[Tuples](https://www.hackerrank.com/challenges/python-tuples)

![](images/tuple.jpeg)

## 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

![](images/dict.png)

### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

### And yeah, keys of dict can be any immutable object, so...
<img src="images/dict_tuple.jpg" alt="sets_are_coming" style="width: 300px;"/>

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries.
Your final record structure should look like this:

```
 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]
 ```

## 4. Sets

<img src="images/sets.jpg" alt="sets_are_coming" style="width:250px;"/>


Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.


Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

args, kwargs and call by object

### Ok...let's end this chapter right here but your tryst with data structures has just begun !!!

![](images/ds.jpg)