```
5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5 
5 5 5 5 5
```

```
7 7 7 7 7 7 7
7 6 6 6 6 6 7
7 6 5 5 5 6 7
7 6 5 4 5 6 7
7 6 5 5 5 6 7
7 6 6 6 6 6 7
7 7 7 7 7 7 7
```

In [1]:
n = 5

[0,n)

In [19]:
max(1, 2, 3, 4, 5, 7)

7

In [30]:
n = 5

In [ ]:
max(1, 2, 3, 4)

In [32]:
for i in range(n):
    for j in range(n):
        print(i, end = " ")
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [31]:
for i in range(n):
    for j in range(n):
        print(j, end = " ")
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [33]:
for i in range(n):
    for j in range(n):
        print(max(i, j), end = " ")
    print()

0 1 2 3 4
1 1 2 3 4
2 2 2 3 4
3 3 3 3 4
4 4 4 4 4

In [35]:
for i in range(n):
    for j in range(n):
        print(n-i-1, end = " ")
    print()

4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1
0 0 0 0 0

In [36]:
for i in range(n):
    for j in range(n):
        print(n-j-1, end = " ")
    print()

4 3 2 1 0
4 3 2 1 0
4 3 2 1 0
4 3 2 1 0
4 3 2 1 0

In [40]:
for i in range(n):
    for j in range(n):
        print(
            max(max(i+1, j+1), max(n-j, n-i)
        ), end = " ")
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

### Lambda Expressions

In [7]:
def func():
    return 1 + 4

In [8]:
a = func

In [9]:
a()

5

In [12]:
lambda a, b: a + b

In [4]:
print("Hello World")

Hello World

In [5]:
show = print

In [6]:
show("something")

something

In [ ]:
int a[] = {1, 2, 3}

In [14]:
names = ["jatin", "saransh", "shubham", "samarth"]

In [38]:
for i, name in enumerate(names):
    print(i, "-", name)

0 - jatin
1 - saransh
2 - shubham
3 - samarth

In [46]:
names = ["jatin", "saransh", "shubham", "samarth"]
scores = [50, 80, 90, 70]
states = ["delhi", "punjab", "punjab", "punjab"]

for name, score, state in zip(names, scores, states):
    print(name, "-", score, state)

jatin - 50 delhi
saransh - 80 punjab
shubham - 90 punjab
samarth - 70 punjab

```
0 - jatin
1 - saransh
2 - shubham
3 - samarth
```

packing and unpacking values

In [30]:
a = [1, 2, 3]

In [29]:
print(b, c)

1 2

In [33]:
a = 1, 2

In [34]:
print(type(a))

<class 'tuple'>

In [32]:
a = 5
b = 9

a, b = b, a

print(a, b)

9 5

In [ ]:
a = 5
b = 9

temp = a
a = b
b = temp

In [22]:
a = 5
b = 9

a = a+b
b = a-b
a = a-b

print(a, b)

9 5

In [23]:
a = 5
b = 9

a = a^b
b = a^b
a = a^b

print(a, b)

9 5

1. OOSE (Object Oriented Software Engineering)
2. Computer Networks
3. Operating Systems
4. Microprocessors and Microcontrollers

In [ ]:
1 2 3 4 5 6 7 8

In [ ]:
O(log n)

In [ ]:
1 3 5 7 2 6 4 8

In [1]:
from pprint import pprint

In [17]:
a = [{'Branch': 'cse', 'Name': 'rupinder', 'Roll_no': 11902166},
 {'Branch': 'cse', 'Name': 'akhil', 'Roll_no': 11902177}]

In [18]:
pprint(a, width=5)

[{'Branch': 'cse',
  'Name': 'rupinder',
  'Roll_no': 11902166},
 {'Branch': 'cse',
  'Name': 'akhil',
  'Roll_no': 11902177}]

In [14]:
pprint?